@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
}

h1{
    border-bottom: thin solid black;
}

p{
    text-align: center;
}

figure{
    text-align: center;
    border-bottom: thin solid black;
    margin-left: 0;
    margin-right: 0;
}