@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

header img, .headerLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social{
    display: flex;
}
.social-collapse a{
    margin-right: auto;
    max-width: 100%;
    height: 100%;
}
#display-date, #meetgreet, #daycount{
    margin:5px;
    padding: 10px;
    background-color: rgba(127, 124, 175, 0.2);
    border-left: 10px solid rgb(127, 124, 175);
    border-right: 10px solid rgb(127, 124, 175);
    font-weight: bold;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin-in {
    background: #007bb5;
    color: white;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
}
nav button:hover{
	color: #fff;
    opacity: 0.7;

}
nav ul li a {
	display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    margin: 5px;
    border-bottom: solid 3px #F1DB4B;
}
nav ul li a:hover {
	color: #888;
    opacity: 0.7;
}
nav ul li.active{
    background: rgb(167, 198, 218);
}
nav ul li{
    height: 100%;
}
nav ul{
    list-style-type: none;
    display: none;
}
nav ul.open{
    display: block;
}

/* top image */

.homeReserve{
    position:relative;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: #F1DB4B;
}

.homeReserve h2{
    position:relative;
    margin: 20px;
    text-align: center;
}
.homeReserve button{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    appearance: none;
    background-color: rgb(46, 164, 79);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;

}

.homeReserve button:hover{
    background-color: #2c974b;
}

.homeReserve button:focus{
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.homeReserve button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
.homeReserve button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Popular Locations */

.homeLocations{
    text-align: center;
    border-bottom: solid 4px rgb(167, 198, 218);
    background-color: rgba(167, 198, 218, 0.4);
    padding: 5px;
}
.locationInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.popular{
    text-align: center;
}
.popular img{
    max-width: 80%;
    max-height: 80%;
}

/* Announcements */

.announce h1{
    border-bottom: solid 3px rgb(158, 178, 93);
    background-color: rgba(158, 178, 93, 0.4);
    padding: 5px;
}
.announce ul{
    padding: 10px;
    border: double 2px #F1DB4B;
    margin: 10px;
    background-color: rgb(241, 241, 241);
}
.announce ul li{
    margin: 10px;
}

/* join */
.homeSignup{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.homeSignup img{
    max-width: 100%;
    height: 300px;
    margin-right: 10px;
}
.homeSignup div{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.homeSignup:hover{
    background-color: #eefcce;
}
.homeSignup div button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
}

.homeSignup div button:hover {
  background-color: #2c974b;
}

.homeSignup div button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.homeSignup div button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.homeSignup div button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* weather */

.weather{
    box-shadow: 0 0 8px gray;
}
.weather-top{
    display: flex;
    justify-content: center;
}
.weather-bottom{
    text-align: center;
}
.wind-speed, .wind-chill{
    display: flex;
    justify-content: center;
}
.weather h1{
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    background-color: rgba(241, 219, 75);
}

#weathericon{
    max-height: 50px;
    max-width: 50px;
}
.weather h2{
    font-weight: bold;
}

/* footer */

footer{
    text-align: center;
    padding: 10px;
    border-bottom: solid 3px #F1DB4B;
    border-top: solid 3px #F1DB4B;
}
footer a, footer img {
    max-width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
footer p {
    margin-left: 1rem;
    font-weight: bold;
}

.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sns a{
    text-align: center;
    margin: 5px;
}

/* HIDE */
.hide {
    display: none;
}

/* Lazy load */

/* Reserve page */
.mainform {
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
}
form{
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(158, 178, 93, 0.3);
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(128, 128, 128);
}
form label, form input, form div p, form textarea, form button{
    margin: 3px;
}
#description{
    grid-column: 2/3;
}
form button{
    grid-column: 1/3;
}

/* Thank you page */
#thankyouA, #thankyouB{
    background-color: rgb(127, 124, 175, 0.3);
    text-align: center;
    padding: 30px;
}
#thankyouA{
    color: rgb(179,3,0);
    margin-bottom: 0px;
}
#thankyouB{
    margin-top: 0px;
}

/* locations page */

.cards{
    text-align: center;
    border-left: solid 50px rgb(167, 198, 218);
    border-right: solid 50px rgb(167, 198, 218);
}
.cards p:hover{
    background-color: #eefcce;
}
.cards img{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.cards img:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.cards h2{
    max-width: 100%;
}

/* services */
.serviceLinks{
    text-align: center;
}
.serviceLinks img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.serviceLinks img:hover{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* missionary page */
.missionService{
    background-color: rgba(167, 198, 218, 0.3);
}
.missionService h1{
    text-align: center;
    padding: 10px;
}
.suiteRoom img, .suiteService img, .studyRoom img{
    max-width: 100%;
    max-height: 100%;
}
.suiteRoom, .suiteService, .studyRoom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.suiteRoom h2, .suiteService h2, .studyRoom h2{
    align-self: center;
}
.missionService form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* wedding page */
.weddingService{
    background-color: #eefcce;
}
.weddingService h1{
    text-align: center;
    padding: 10px;
}

.receptionHall img, .receptionFood img, .weddingCake img, .weddingSound img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}
.receptionHall, .receptionFood, .weddingCake, .weddingSound{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.receptionHall h2, .receptionFood h2, .weddingCake h2, .weddingSound h2{
    align-self: center;
}
.weddingService form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* contact */
#contactUs{
    text-align: center;
}
.contacts{
    text-align: center;
}

/* x button magic */
#hamburgerBtn span:nth-child(1){display: block;} /*display hamburgerBtn(the first span child) as block*/
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;} 
#hamburgerBtn.open span:nth-child(2){display: block;}