@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1, h2, h3{
    font-family: "Arimo", sans-serif;
    text-align: center;
    color: white;
}
p {
    font-family: "Roboto", sans-serif;
}
p, a{
    margin: 10px;
}
h1, h2{
    background-color: #2B3D41;
    margin: 0%;
    padding: 5px;
}
h3{
    background-color: #83A0A0;
    border-radius: 7px 7px 0 0;
    padding: 5px;
}
.adobe{
    background-color: #CBF7ED;
    border-radius: 7px 7px 0 0;
    border-left: thin solid #cccccc;
    border-right: thin solid #cccccc;
    border-bottom: thin solid #cccccc;
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.amazon{
    background-color: #CBF7ED;
    border-radius: 7px 7px 0 0;
    border-left: thin solid #cccccc;
    border-right: thin solid #cccccc;
    border-bottom: thin solid #cccccc;
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.apple{
    background-color: #CBF7ED;
    border-radius: 7px 7px 0 0;
    border-left: thin solid #cccccc;
    border-right: thin solid #cccccc;
    border-bottom: thin solid #cccccc;
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
    background-color: #2B3D41;
    color: white;
    padding: 10px;
    margin-top: 10px;
}