@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.social{
    display: flex;
}
header img {
    margin-right: auto;
    max-width: 100%;
    height: 100%;
}
.fa {
    margin: 5px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
  }
.fa:hover {
opacity: 0.7;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    border-radius: 10px;
}
nav button:hover{
	color: #fff;
    opacity: 0.7;

}
nav {
    background-color: rgb(179,3,0);
}
nav ul li a {
	display: block;
    font-size: 1.2rem;
    font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    border-radius: 15px;
    margin: 5px;
}
nav ul li a:hover {
	color: white;
    opacity: 0.7;
}
nav ul li.active a{
    background: rgba(11, 57, 84, 0.5);
}
nav ul{
    list-style-type: none;
    display: none;
}
nav ul.open{
    display: block;
}

/* top image */

.hero{
    position:relative;
}
.hero img{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.hero h1{
    position:relative;
}
.hero button{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
}

.hero button:hover{
    background-color: #2c974b;
}

.hero button:focus{
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.hero button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
.hero button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* news */
.news{
    box-shadow: 0 0 8px gray;
}
.news h1{
    color:#fff;
    background-color: rgb(179,3,0);
    padding: 10px;
}
.news p{
    margin-left: 10px;
    padding-bottom: 10px;
}

/* spot 1 */

.job-fair{
    border-left: 10px solid rgb(11, 58, 86);
    background-color: rgba(11, 58, 86, 0.2);
}
#spot1{
    margin-left: 10px;
}
.job-fair img{
    display: block;
    max-width: 100%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.job-fair p{
    margin-left: 10px;
}

/* spot 2 */

.finance{
    border-left: 10px solid rgb(127, 124, 175);
    background-color: rgba(127, 124, 175, 0.2);
}
#spot2{
    margin-left: 10px;
}
.finance img{
    display: block;
    max-width: 100%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.finance p{
    margin-left: 10px;
}

/* spot 3 */

.security{
    border-left: 10px solid rgb(176, 34, 140);
    background-color: rgba(176, 34, 140, 0.2);
}
#spot3{
    margin-left: 10px;
}
.security img{
    display: block;
    max-width: 100%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.security p{
    margin-left: 10px;
}

/* join */
.join{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.join img{
    max-width: 100%;
    height: 100%;
}
.join div{
    margin-top: auto;
    margin-bottom: auto;
}
.join div button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
}

.join div button:hover {
  background-color: #2c974b;
}

.join div button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.join div button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.join div button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* event */

.event{
    box-shadow: 0 0 8px gray;
    background-color: rgb(241, 241, 241);
}
.event-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.event h1{
    margin-top: 0px;
    color:#fff;
    background-color: rgb(179,3,0);
    padding: 10px;
}
.event img{
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.event p{
    margin-left: 5px;
    margin-right: 5px;
}

/* weather */

.weather{
    box-shadow: 0 0 8px gray;
    background-color: rgba(179,3,0, 0.2);
}
.weather-top{
    display: flex;
    justify-content: center;
}
.weather-bottom{
    text-align: center;
}
.wind-speed, .wind-chill{
    display: flex;
    justify-content: center;
}
.weather h1{
    color:#fff;
    background-color: rgb(127, 124, 175);
    padding: 10px;
    margin-top: 0px;
}
.weather img{
    max-height: 100%;
    max-width: 100%;
}
.weather h2{
    font-weight: bold;
}

/* bottom image */

#bottom_img{
    max-width: 100%;
    height: auto;
    padding-bottom: none;
}

/* footer */

footer{
    display: flex;
    text-align: center;
    background-color: rgb(179,3,0);
    color: white;
    padding: 10px;
}
footer img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}
footer p {
    margin-left: 1rem;
    font-weight: bold;
}


/* x button magic */
#hamburgerBtn span:nth-child(1){display: block;} /*display hamburgerBtn(the first span child) as block*/
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;} 
#hamburgerBtn.open span:nth-child(2){display: block;}
