@media only screen and (min-width: 64rem) {

nav ul li a{
    padding: .5rem 1rem;
}

.mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#spot3 {
    grid-column: 3/4;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}